html {
    font-family: arial;
    font-size: 30px;
    text-align: center;
}
div, ul {
    margin: 50px;
    text-align: left;
}

ul {
    list-style: none;
}

#next {
    background-color: crimson;
    border-style: none;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    
}

#next:hover {
    background-color: #4b0202;
}